{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zenaida - domain registry system">
    <meta name="author" content="Veselin Penev">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Credit Card payment</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    
</head>

<body>

    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-12 text-center">
                In your Bank statement the charge of <b>${{price}} US</b> will show up as <b>{{company_name}}</b>.
                <form action="{{merch_link}}" method="post" class="mt-3">
                    {% csrf_token %}
                    <input type="hidden" name="MERCHKEY" value="{{merch_id}}" />
                    <input type="hidden" name="TRANTYPE" value="AUTHPOST" />
                    <input type="hidden" name="AMT" value="{{price}}" />
                    <input type="hidden" name="CURR" value="USD" />
                    <input type="hidden" name="INVOICE" value="{{invoice}}" />
                    <input type="hidden" name="TRANID" value="{{tran_id}}" />
                    <input type="hidden" name="URLAPPROVED" value="{{url_approved}}?result=pass&tid={{invoice}}&rc=#RC#&fc=#FC#&app=#APP#&ref=#REF#&invoice=#INVOICE#&tran_id=#TRANID#&err=#EM#&av=#AV#&amt=#AMT#" />
                    <input type="hidden" name="URLOTHER" value="{{url_other}}?result=miss&tid={{invoice}}&rc=#RC#&fc=#FC#&app=#APP#&ref=#REF#&invoice=#INVOICE#&tran_id=#TRANID#&err=#EM#&av=#AV#&amt=#AMT#" />
                    <button class="btn btn-success">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
