{% include 'layouts/default/head.html' %}

<div class="container-fluid">

    <div class="mt-3">
        <div>
            {% if not request.user.is_authenticated %}
                {% include 'layouts/default/welcome.html' %}
            {% else %}

                {% block content %}

                <div align=center>
                    <iframe SRC="{% url 'billing_4csonline_process_payment' %}?invoice={{invoice}}&tran_id={{tran_id}}"
                            SCROLLING=no
                            MARGINWIDTH=0
                            MARGINHEIGHT=0
                            FRAMEBORDER=0
                            ALIGN=top
                            WIDTH=460
                            HEIGHT=270
                    >
                    </iframe>
                </div>

                {% endblock %}

            {% endif %}
        </div>
    </div>

</div>

{% include 'layouts/default/foot.html' %}
