{% include 'layouts/default/head.html' %}

<div class="container">
    <div class="row mt-3">
        <div class="col-sm-4 offset-4">

            {% if not request.user.is_authenticated %}
                {% include 'layouts/default/welcome.html' %}
            {% else %}

                {% block content %}

                <div align=center>
                    <iframe src="{% url 'billing_4csonline_process_payment' %}?transaction_id={{transaction_id}}"
                            scrolling=no
                            marginwidth=0
                            marginheight=0
                            frameborder=0
                            align=top
                            width=460
                            height=270>
                    </iframe>
                </div>

                {% endblock %}

            {% endif %}
        </div>
    </div>
</div>

{% include 'layouts/default/foot.html' %}
