{% extends 'base/container_sm_10.html' %}

{% block content %}


<h1>Contact details</h1>
<br>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form_errors form %}
  <div class="row">
    <div class="col-6">
      <fieldset>
        {% bootstrap_field form.person_name layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
        {% bootstrap_field form.organization_name layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
      </fieldset>
      <fieldset>
        {% bootstrap_field form.contact_email layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
        {% bootstrap_field form.contact_voice layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
        {% bootstrap_field form.contact_fax layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
      </fieldset>
    </div>
    <div class="col-6">
      <fieldset>
        {% bootstrap_field form.address_street layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
        {% bootstrap_field form.address_city layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
        {% bootstrap_field form.address_province layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
        {% bootstrap_field form.address_postal_code layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
        {% bootstrap_field form.address_country layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      {% buttons %}
        <button type="submit" class="form-button btn btn-success">Save</button>
      {% endbuttons %}
    </div>
  </div>
</form>


{% endblock %}
