{% extends 'base/index.html' %}

{% block main_content %}

{% include 'base/container_sm_6_offset_3.html' %}


{% if not request.user.is_authenticated %}
    {% include 'base/welcome.html' %}
{% else %}

    {% if contact_person_error == False %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
              <input type="hidden" name="next_page" value="{{ next_page }}">
              <button class="btn btn-success">Save your contact</button>
        </form>
    {% else %}
        <b>Something went wrong. Go back and try to create contact person again.</b>
    {% endif %}

{% endif %}


{% include 'base/container_close.html' %}

{% endblock %}
