{% include 'layouts/default/head.html' %}

{% load bootstrap4 %}

{% load front_filters %}

{% include 'layouts/default/container_sm_6_offset_3.html' %}

{% if not request.user.is_authenticated %}
    {% include 'layouts/default/welcome.html' %}
{% else %}

    {% if not registered %}
        {% if contact_amount == 0 %}
            You don't have any contact information to register a domain.<br />
            <a href="{% url 'account_contacts_new' %}"><b>Click here</b>
            </a> to create a contact person in order to complete registration.<br />
            You will be redirected to this page again after creating a contact person.<br />

        {% else %}
            You have <b>{{contact_amount}}</b> contact persons.
            <a href="{% url 'account_contacts_new' %}"><b>Click here</b>
            </a> to create a new contact person.<br /><br />
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Register new domain</button>
            </form>
        {% endif %}

    {% else %}
        <b>Your domain is successfully registered. Continue to pay.</b><br />
    {% endif %}

{% endif %}


{% include 'layouts/default/container_close.html' %}

{% include 'layouts/default/foot.html' %}
