{% include 'layouts/default/head.html' %}

<div class="container-fluid">

    <div class="mt-3">
        <div>
            {% if not request.user.is_authenticated %}
                {% include 'layouts/default/welcome.html' %}
            {% else %}

                {% if domains %}
                  Your domains:
                    <ul>
                    {% for domain in domains %}
                        <li><a href="">{{domain.name}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                  You don't have any domain yet. <br />
                  Please <a href="{% url 'domain_lookup' %}">click here</a> to register a domain.
                {% endif %}
            
            {% endif %}
        </div>
    </div>

</div>

{% include 'layouts/default/foot.html' %}
