{% extends 'base/index.html' %}

{% block main_content %}


{% if not request.user.is_authenticated %}
    {% include 'base/welcome.html' %}
{% else %}

    {% if objects %}

        <table class="table">

            <tr>
                <th>Organization</th>
                <th>Person</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>

            {% for contact in objects %}

                <tr>
                    <td>{{contact.person_name}}</td>
                    <td>{{contact.organization_name}}</td>
                    <td>{{contact.address_full}}</td>
                    <td>{{contact.contact_voice}}</td>
                    <td>{{contact.contact_email}}</td>
                    <td><a class="btn btn-success" href='{% url "account_contact_edit" contact.id %}' role="button">Edit</a></td>
                </tr>

            {% endfor %}

        </table>

        {% include 'base/pagination.html' %}

    {% endif %}
    <a href="{% url 'account_contact_create' %}" class="btn btn-success" role="button">Create new contact</a>

{% endif %}


{% endblock %}
