{% include 'layouts/default/head.html' %}

<div class="container-fluid">

    <div class="mt-3">
        <div>
            {% if not request.user.is_authenticated %}
                {% include 'layouts/default/welcome.html' %}
            {% else %}
            
                {% if contacts.count > 0 %}
                  <b>Your contact persons:</b>
                  <ul>
                  {% for contact in contacts %}
                    <li><a href='{% url "account_contacts_edit" contact.id %}'>{{contact.person_name}}</a></li>
                  {% endfor %}
                  </ul>
                  <a href="{% url 'account_contacts_new' %}"><b>Click here</b></a> to create another contact person.<br />
                {% else %}
                  You don't have any contact person yet.<br />
                  <a href="{% url 'account_contacts_new' %}"><b>Click here</b></a> to create one.<br />
                {% endif %}

            {% endif %}
        </div>
    </div>

</div>

{% include 'layouts/default/foot.html' %}
