{% extends 'base/index.html' %}

{% block main_content %}

{% include 'base/container_sm_10_offset_1.html' %}


<h1 align=center>{{ domain_name }}</h1>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    <div class="row">
        <div class="col-6 ">
            <fieldset name="contacts">
                <legend class="text-right">Domain Contacts</legend>
                {% bootstrap_field form.contact_admin layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
                {% bootstrap_field form.contact_billing layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
                {% bootstrap_field form.contact_tech layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-8" %}
                <br />
            </fieldset>
        </div>
        <div class="col-6">
            <fieldset>
                <legend class="text-right">Name Servers</legend>
                {% bootstrap_field form.nameserver1 layout="horizontal" placeholder="" show_label=False size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-12" %}
                {% bootstrap_field form.nameserver2 layout="horizontal" placeholder="" show_label=False size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-12" %}
                {% bootstrap_field form.nameserver3 layout="horizontal" placeholder="" show_label=False size="small" label_class="form-label col-sm-4 text-right" horizontal_field_class="col-sm-12" %}
            </fieldset>
        </div>
    </div>

    <br />
        <h3 align=center>
            Register <b>{{ domain_name }}</b> for <b>2 years</b><br />
            starting from {% now "j F Y" %}<br />
            on name <b>{{ person_name }}</b>?
        </h3>
    <br />

    <div class="row">
        <div class="col-12 text-center">
            {% buttons %}
                <a class="btn btn-danger" href="{% url 'domain_lookup' %}" role="button">Cancel</a>
                <button type="submit" class="form-button btn btn-success" name=yes>Confirm</button>
            {% endbuttons %}
        </div>
    </div>
    <input type="hidden" name="next_page" value="{{ next_page }}">
</form>


{% include 'base/container_close.html' %}

{% endblock %}
