{% include 'layouts/default/head.html' %}

<div class="container-fluid">

    <div class="mt-3">
        <div>
            {% if request.user.is_authenticated %}
              {% if registered != True %}
                {% if contact_amount == 0 %}
                  <b>You don't have any contact information to register a domain.</b><br />
                  <b>Please create a contact in order to complete registration.</b><br />
                {% else %}
                  Create a new contact person.
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Register new domain" />
                </form>
              {% elif registered == True %}
                <b>Your domain is successfully registered. Continue to pay.</b><br />
              {% endif %}
            {% else %}
                <h1>Welcome to Zenaida!</h1>
                Please <a href="{% url 'login' %}">Log In</a> to register a new domain name.
            {% endif %}
        </div>
    </div>

</div>

{% include 'layouts/default/foot.html' %}
