{% extends 'base/index.html' %}

{% block main_content %}


{% if not result %}
    <div class="alert alert-warning text-center" role="alert">
        Please search a valid domain from search bar.
    </div>
{% elif result == 'not exist' %}
    <div class="alert alert-success text-center" role="alert">
        <b>{{ domain_name }}</b> is available to register.
        <br />
      <h4><a href="{% url 'account_domain_create' domain_name %}" class="alert-link">Click here to register it!</a></h4>
    </div>
{% elif result == 'exist' %}
    <div class="alert alert-warning text-center" role="alert">
        <b>{{ domain_name }}</b> is already registered. <br />Search for another domain!
    </div>
{% elif result == 'error' %}
    <div class="alert alert-danger text-center" role="alert">
        Service is unavailable at this moment<br />Please try it later.
    </div>
{% endif %}


{% endblock %}
