certifi==2018.8.24
chardet==3.0.4
Django==2.1.2
django-bootstrap4==0.0.7
django-grappelli==2.11.1
django-nested-admin==3.1.2
django-redis-cache==1.7.1
djangorestframework==3.8.2
elasticsearch==6.3.1
fqn-decorators==1.2.0
idna==2.7
influxdb==5.2.0
pika==0.12.0
pkgsettings==0.12.0
psycopg2-binary==2.7.5
python-dateutil==2.7.3
python-monkey-business==1.0.0
pytz==2018.5
raven==6.9.0
redis==2.10.6
requests==2.19.1
six==1.11.0
timeexecution==3.3.0
urllib3==1.23
uWSGI==2.0.17.1
