# btcpay-python==1.1.0
-e git+https://github.com/datahaven-net/btcpay-python.git@63c948f62f67180cf49c978314558813f9d22c86#egg=btcpay_python
certifi==2019.6.16
chardet==3.0.4
Django==2.2.10
django-bootstrap4==0.0.8
django-extensions==2.1.9
django-grappelli==2.13.1
django-nested-admin==3.2.3
djangorestframework==3.9.4
django_otp==0.8.1
ecdsa==0.13.3
filelock==3.0.12
fqn-decorators==1.2.3
idna==2.8
importlib-metadata==0.18
influxdb==5.2.2
packaging==19.0
pdfkit==0.6.1
pika==1.0.1
pkgsettings==0.12.0
pkgversion==3.0.2
pluggy==0.12.0
psycopg2-binary==2.8.3
py==1.8.0
pyparsing==2.4.0
python-dateutil==2.8.0
python-memcached==1.59
python-monkey-business==1.0.0
pytz==2019.1
qrcode==6.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
tox==3.13.1
transliterate==1.10.2
urllib3==1.25.3
uWSGI==2.0.18
virtualenv==16.6.1
zipp==0.5.1
