{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AI Domains EPP status">
    <meta name="author" content="Veselin Penev">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>AI Domains EPP status</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

<div class="container">
  <div class="mt-3 mb-3">

    {% block main_content %}

      <div class="text-center">

        EPP: {{ epp }}

      </div>

    {% endblock %}

  </div>
</div>

</body>

</html>
