{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zenaida - domain registry system">
    <meta name="author" content="Veselin Penev">

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Zenaida - domain registry system</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    {% if recaptcha_site_key %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}

    <style>
        .navbar-nav li:hover .dropdown-menu {
            display: block;
        }
        body {
            margin-bottom: 60px;
        }
    </style>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
        <a class="navbar-brand" href="/">Zenaida</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% with url_name=request.resolver_match.url_name %}
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'account_domains' or url_name == 'account_contacts' %}active{% endif %}" href="{% url 'account_domains' %}" id="navbarDropdownMenuDomains" role="button" aria-haspopup="true" aria-expanded="false">
                                Domains
                            </a>
                            <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuDomains">
                                <a class="dropdown-item" href="{% url 'account_domains' %}">My Domains ({{user.domains.count}})</a>
                                <a class="dropdown-item" href="{% url 'account_contacts' %}">Contact details</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'billing_new_payment' or url_name == 'billing_payments' or url_name == 'billing_orders' %}active{% endif %}" href="{% url 'billing_orders' %}" id="navbarDropdownMenuBilling" role="button" aria-haspopup="true" aria-expanded="false">
                                Billing
                            </a>
                            <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuBilling">
                                <a class="dropdown-item" href="{% url 'billing_new_payment' %}">Buy Credits</a>
                                <a class="dropdown-item" href="{% url 'billing_payments' %}">My Payments</a>
                                <a class="dropdown-item" href="{% url 'billing_orders' %}">My Orders</a>
                                <a class="dropdown-item" href="{% url 'billing_receipts_download' %}">Download Receipts</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li>
                        <form class="form-inline my-2 my-lg-0" action="{% url 'domain_lookup' %}" method="get">
                          <input class="form-control mr-sm-2" type="text" placeholder="Find your domain" aria-label="Search" value="{{ domain_name }}" name="domain_name">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'account_profile' or url_name == 'password_change' %}active{% endif %}" href="#" id="navbarDropdownMenuProfile" data-role="button" aria-haspopup="true" aria-expanded="false">{{ user.email }}</a>
                            <div class="dropdown-menu m-0 dropdown-menu-right" aria-labelledby="navbarDropdownMenuProfile">
                                <a class="dropdown-item" href="{% url 'billing_new_payment' %}">Current balance: ${{user.balance}} US</a>
                                <a class="dropdown-item" href="{% url 'account_domains' %}">Your owned domains: {{user.domains.count}}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_profile' %}">My Profile</a>
                                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'login' %}">Log in</a>
                        </li>
                        <li class="nav-item {% if url_name == 'register' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'register' %}">Create an account</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li>
                        <form class="form-inline my-2 my-lg-0" action="{% url 'domain_lookup' %}" method="get">
                            <input class="form-control mr-sm-2" type="search" placeholder="Find your domain" aria-label="Search" value="{{ domain_name }}" name="domain_name">
                            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        </li>
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </nav>

    {% if messages %}
        <div class="container-fluid mt-3">
            {% include 'bootstrap4/messages.html' %}
        </div>
    {% endif %}
</header>
