{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AI Domains">
    <meta name="author" content="Veselin Penev">

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>AI Domains</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    {% if recaptcha_site_key %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}

    <style>
        .navbar-nav li:hover .dropdown-menu {
            display: block;
        }
        body {
            margin-bottom: 60px;
        }
        .btn-margin-right {
            margin-right: 8px;
        }
    </style>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
        <a class="navbar-brand" href="/">AI Domains</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% with url_name=request.resolver_match.url_name %}
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'account_domains' or url_name == 'account_contacts' %}active{% endif %}" href="{% url 'account_domains' %}" id="navbarDropdownMenuDomains" role="button" aria-haspopup="true" aria-expanded="false">
                                Domains
                            </a>
                            <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuDomains">
                                <a class="dropdown-item" href="{% url 'account_domains' %}">My Domains ({{user.domains.count}})</a>
                                <a class="dropdown-item" href="{% url 'account_contacts' %}">Contact details</a>
                                <a class="dropdown-item" href="{% url 'account_domain_transfer_takeover' %}">Transfer domain</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'billing_new_payment' or url_name == 'billing_payments' or url_name == 'billing_orders' %}active{% endif %}" href="{% url 'billing_orders' %}" id="navbarDropdownMenuBilling" role="button" aria-haspopup="true" aria-expanded="false">
                                Billing
                            </a>
                            <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuBilling">
                                <a class="dropdown-item" href="{% url 'billing_payments' %}">My Payments</a>
                                <a class="dropdown-item" href="{% url 'billing_orders' %}">My Orders</a>
                                <a class="dropdown-item" href="{% url 'billing_receipts_download' %}">Download Receipts</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-success btn-margin-right" href="{% url 'domain_lookup' %}" role="button">New Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" href="{% url 'billing_new_payment' %}" role="button">Buy Credits</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'account_profile' or url_name == 'password_change' %}active{% endif %}" href="#" id="navbarDropdownMenuProfile" data-role="button" aria-haspopup="true" aria-expanded="false">{{ user.email }}</a>
                            <div class="dropdown-menu m-0 dropdown-menu-right" aria-labelledby="navbarDropdownMenuProfile">
                                <a class="dropdown-item" href="{% url 'billing_new_payment' %}">Current balance: <b>${{user.balance}} US</b></a>
                                <a class="dropdown-item" href="{% url 'account_domains' %}">My domains: <b>{{user.domains.count}}</b></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_profile' %}">My Profile</a>
                                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'login' %}">Log in</a>
                        </li>
                        <li class="nav-item {% if url_name == 'register' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'register' %}">Create an account</a>
                        </li>
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </nav>

    {% if messages %}
        <div class="container-fluid mt-3">
            {% include 'bootstrap4/messages.html' %}
        </div>
    {% endif %}
</header>
