{% include 'base/head.html' %}

{% include 'base/container_fluid.html' %}

<main>

    {% block main_content %}

    <div class="text-center">
        {% if request.user.is_authenticated %}
            <h4>Welcome <b>{{ user.email }}</b></h4>
            Your current balance: <b>${{ user.balance }} US</b>
            <br />
            {% if total_domains > 0 %}
                Number of domains that you have: <b>{{ total_domains }}</b>
                <br />
                Browse your current <a href="{% url 'account_domains' %}">domains</a>
            {% else %}
                You don't have any registered domain yet.
            {% endif %}
            <br />
        {% else %}
            <h1>Welcome to Zenaida!</h1>
        {% endif %}
        <form class="form-inline justify-content-center" action="{% url 'domain_lookup' %}" method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="Find your domain" aria-label="Search" name="domain_name">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>


    {% endblock %}

</main>

{% include 'base/container_close.html' %}

{% include 'base/foot.html' %}
