# Zenaida nginx configuration.
#
# Add custom nginx locations and specific settings here.
#
# Activate site configuration by creating a sym-link:
#
#         cd /home/zenaida/zenaida/
#         cp etc/nginx/zenaida.example etc/nginx/zenaida
#         sudo ln -s /home/zenaida/zenaida/etc/nginx/zenaida /etc/nginx/sites-enabled/
#
#
# Restart Nginx:
# 
#         sudo service nginx restart
#
#
# TODO: protect TCP socket port 12321 from outside
# 


server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name buy-my-domain.com www.buy-my-domain.com;
    return 301 https://$server_name$request_uri;

    client_max_body_size 100M;
}


server {
    access_log /home/zenaida/logs/nginx;
    error_log /home/zenaida/logs/nginx.err;    

    listen 443 ssl default_server;
    listen [::]:443 ssl default_server ipv6only=on;

    root /var/www/;
    index index.html index.htm;

    server_name buy-my-domain.com www.buy-my-domain.com;

    ssl_certificate     /home/zenaida/ssl/zenaida.crt;
    ssl_certificate_key /home/zenaida/ssl/zenaida.key;
    ssl_ciphers         EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
    ssl_protocols       TLSv1.1 TLSv1.2;

    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:12321;
    }

    location /static {    
        autoindex on;    
        alias /home/zenaida/zenaida/src/static/;
    }

    client_max_body_size 100M;
}
