{% extends 'base/index.html' %}

{% block main_content %}


<div class="alert alert-secondary" role="alert">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="row col-sm-10">
        <div class="col-sm-4">
          <fieldset>
            {% bootstrap_field form.csv_file layout="horizontal" placeholder="Select .csv file" size="small" label_class="form-label col-sm-2 text-left" horizontal_field_class="col-sm-10" %}
            {% bootstrap_field form.dry_run layout="horizontal" placeholder="dry run" size="small" label_class="form-label col-sm-2 text-left" horizontal_field_class="col-sm-10" %}
          </fieldset>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-sm btn-success">Upload .CSV file and synchronize</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row col-sm-12">
        <div class="col-sm-12">

        <a href='' class="btn btn-primary">refresh</a>

		{% if csv_file_sync_records %}
		  <table class="table table-hover">
		    <tr>
		      <th>started date & time</th>
		      <th>input filename</th>
		      <th>mode</th>
		      <th>processed count</th>
		      <th>status</th>
		    </tr>

		    {% for csv_file_sync_record in csv_file_sync_records %}

		      <tr>
		        <td><a href="{% url 'csv_file_sync_record' csv_file_sync_record.id %}">{{ csv_file_sync_record.created_at }}</a></td>
		        <td>{{ csv_file_sync_record.filename }}</td>
		        <td>{{ csv_file_sync_record.dry_run|yesno:"dry run,sync," }}</td>
		        <td>{{ csv_file_sync_record.processed_count }}</td>
		        <td>{{ csv_file_sync_record.status }}</td>
		      </tr>

		    {% endfor %}

		  </table>
		{% endif %}

        </div>
      </div>
    </div>

  </form>
</div>

{% endblock %}
