{% extends 'base/index.html' %}

{% block main_content %}


<div class="alert alert-secondary text-center" role="alert">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="row col-sm-10">
        <div class="col-sm-3">
          <fieldset>
            {% bootstrap_field form.email layout="horizontal" placeholder="" size="small" label_class="form-label col-sm-4 text-left" horizontal_field_class="col-sm-8" %}
          </fieldset>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-sm btn-success">Reset 2FA</button>
        </div>
      </div>
    </div>
  </form>
</div>


{% endblock %}
