{% extends 'base/index.html' %}

{% block main_content %}


{% if object_list %}
    <div class="table-responsive">

        <table class="table table-hover">
            <tr>
                <th>Amount</th>
                <th>Payment method</th>
                <th>Payment date</th>
                <th>Status</th>
            </tr>

            {% for payment in object_list %}

                <tr>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.get_method_display }}</td>
                    <td>{{ payment.started_at|date:'d N Y' }}</td>

                    {% if payment.status == "processed" %}
                    <td>
			            <div>
			              <form action="{% url 'billing_invoice_download' payment.transaction_id %}" method="post">
			                {% csrf_token %}
			                <button type="submit" class="btn btn-sm btn-info" name="action_invoice_download">Invoice</button>
			              </form>
			            </div>
			        </td>
			        {% else %}
                    <td>{{ payment.status }}</td>
                    {% endif %}




                </tr>

            {% endfor %}

        </table>

    </div>

{% else %}
    <div class="alert alert-warning text-center" role="alert">
        You didn't make any payment yet.<br />
        <a href="{% url 'billing_new_payment' %}" class="alert-link">Click here to buy credits!</a>
    </div>
{% endif %}


{% include 'base/pagination_class_based_views.html' %}

{% endblock %}
