{% extends 'base/index.html' %}

{% block main_content %}


{% if not request.user.is_authenticated %}
    {% include 'base/welcome.html' %}
{% else %}

    {% if objects %}

        <table class="table">
            <tr>
                <th>Amount</th>
                <th>Payment method</th>
                <th>Started</th>
            </tr>

            {% for payment in objects %}

                <tr>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.get_method_display }}</td>
                    <td>{{ payment.started_at }}</td>
                </tr>

            {% endfor %}

        </table>

        {% include 'base/pagination.html' %}

    {% else %}
        You did not made any payments yet.
    {% endif %}

{% endif %}


{% endblock %}
