<html>
<head>
    <title>AI domains registrations</title>
</head>
<body>
    <table width=100%%>
        <tr>
            <td align=right colspan="4">
                RECEIPT
                <hr>
            </td>
        </tr>
        <tr valign=top>
            <td align=left colspan="4">
                <h1>DataHaven.Net Ltd.</h1>
            </td>
        </tr>
        <tr valign=top>
            <td colspan="1">
                949 Stoney Ground<br>
                The Valley<br>
                Anguilla, AI2640<br>
                Tel: 12644973255<br>
                E-mail: vincecate@gmail.com<br>
            </td>
            <td colspan="3" align=left width="60%%">
                <b>{{ user_profile.organization_name }}</b><br>
                {{ user_profile.address_street }}<br>
                {{ user_profile.address_province }}<br>
                {{ user_profile.address_postal_code }} {{ user_profile.address_city }}<br>
                {{ user_profile.get_address_country_display }}<br>
                Tel: {{ user_profile.contact_voice }}<br>
                Fax: {{ user_profile.contact_fax }} <br>
                E-mail: {{ user_profile.contact_email }}<br>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <br>
                <br>
                Period: {{ invoice_period }}
            </td>
            <td align=right colspan="1">
                <br>
                <br>
                <b>Date: {% now "j F Y" %}</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" align=center>
                <table width=100%% border=1 cellspacing=0 cellpadding=5>
                    <tr>
                        <th align=left bgcolor="#D0D0D0">
                            Domain name
                        </th>
                        <th align=left bgcolor="#D0D0D0">
                            Register/Renew Date
                        </th>
                        <th align=right bgcolor="#D0D0D0">
                            Price
                        </th>
                    </tr>
                    {% for domain_order in domain_orders %}
                    <tr>
                        <td align=left>
                            {{ domain_order.domain_name }}
                        </td>
                        <td align=left>
                            {{ domain_order.transaction_date }}
                        </td>
                        <td align=right>
                            ${{ domain_order.price }} US
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4" align=right>
                <b>Total: ${{ total_price }} US</b>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <br>
                <br>
                <hr>
                Thank you for your business!
            </td>
        </tr>
    </table>
</body>
</html>
