{% include 'layouts/default/head.html' %}

<div class="container-fluid">

    <div class="mt-3">
        <div>
            {% if not request.user.is_authenticated %}
                {% include 'layouts/default/welcome.html' %}
            {% else %}

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Next" />
                </form>

            {% endif %}
        </div>
    </div>

</div>

{% include 'layouts/default/foot.html' %}
