{% include 'layouts/default/head.html' %}

{% load bootstrap4 %}

<div class="container">
    <div class="row mt-3">
        <div class="col-sm-4 offset-4">
            {% if not request.user.is_authenticated %}
                {% include 'layouts/default/welcome.html' %}
            {% else %}

                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success">Next</button>
                </form>

            {% endif %}
        </div>
    </div>

</div>

{% include 'layouts/default/foot.html' %}
