{% include 'layouts/default/head.html' %}

{% load bootstrap4 %}

{% include 'layouts/default/container_sm_9_offset_1.html' %}


{% if not request.user.is_authenticated %}
    {% include 'layouts/default/welcome.html' %}
{% else %}

    <h1>Order</h1>
    
    <br>
    
    for <b>{{ order.owner.email }}</b> account owner
    <br>
    Latest status: {{ order.get_status_display }}
    <br>

    <p>Following domains will be processed and charges will be taken from your account:</p>
    <ul>    
    {% for order_item in order.items.all %}

        <li>
        <b>{{ order_item.name }}</b>
        {{ order_item.get_type_display }}
        {{ order_item.price }} $ US
        </li>

    {% endfor %}
    </ul>

{% endif %}


{% include 'layouts/default/container_close.html' %}

{% include 'layouts/default/foot.html' %}
