{% extends 'base/index.html' %}

{% block main_content %}


<h1>{{ order.description }}</h1>

<b>{{ order.get_status_display }}</b> at {{ order.started_at }}
<br>
<br>
<div class="table-responsive">

    <table class="table table-hover">
        <tr>
            <th>Domain Name</th>
            <th>Order Type</th>
            <th>Expiry Date</th>
            <th>Price</th>
        </tr>

    {% for order_item in order.items.all|dictsort:"name" %}
        <tr>
            <td><i>{{ order_item.name }}</i></td>
            <td>{{ order_item.get_type_display }}</td>
            <td>{{domain_expiry_date|date:'d N Y'}}</td>
            <td>{{ order_item.price }} $ US</td>
        </tr>

    {% endfor %}

        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><b>{{ order.total_price }} $ US</b></th>
        </tr>
    </table>

</div>

{% if order.is_processable %}

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-1">
                <form action="{% url 'billing_order_cancel' order.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="action_cancel">Cancel</button>
                </form>
            </div>
            <div class="col-sm-1">
                <form action="{% url 'billing_order_process' order.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" name="action_pay">Confirm</button>
                </form>
            </div>
          <div class="col-sm"></div>
        </div>
    </div>
{% else %}
    <div class="text-center">
        <a class="btn btn-secondary" role="button" href="{% url 'billing_orders' %}">Go Back</a>
        <a class="btn btn-info" role="button" href="{% url 'billing_receipt_download' order.id %}">Download Receipt</a>
    </div>
{% endif %}


{% endblock %}
