<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<p>Hello, {{ person_name }}.</p>

<p>
Due to {{ insufficient_balance }}, your domain <b>{{ domain_name }}</b> was not automatically renewed by the system.
</p>

<p>
Domain <b>{{ domain_name }}</b> expired on <b>{{ domain_expiry_date }}</b> and is currently in pending deletion state.
</p>

<p>
If you prefer to keep the domain under your account, you have 30 days to start a domain restore order.
<br>
You will be charged extra for the restore procedure on top of the regular domain renewal costs.
</p>

<p>
After {{ domain_delete_end_date }}, domain <b>{{ domain_name }}</b> restore is no longer possible.
<br>
Domain will be automatically released by the domain registry system to the market and become available for new registration.
</p>

<p>To stop receiving email notifications from AI domains registry please sign in to <a href="{{ site_url }}" target=_blank>{{ site_url }}</a>,
go to your profile settings and disable "Email notifications enabled" checkbox.</p>

</body>

</html>
