<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<p>Hello, {{ person_name }}.</p>

<p>Domain <b>{{ domain_name }}</b> was automatically deleted.</p>

<p>Reason for that could be insufficient funds in your account or turned OFF automatical domain renew flag.</p>

<p>To stop receiving email notifications from AI domains registry please sign in to <a href="{{ site_url }}" target=_blank>{{ site_url }}</a>,
go to your profile settings and disable "Email notifications enabled" checkbox.</p>

</body>

</html>
