<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

Hello, {{ person_name }}.

Domain <b>{{ domain_name }}</b> will be expired {{ domain_expiry_date }}.

Please go to <a href="https://zenaida.cate.ai" target=_blank>zenaida.cate.ai</a> to make a payment for the domains you wish to keep.
See <a href="https://zenaida.cate.ai/faq.html" target=_blank>payments F.A.Q.</a> for more information.

We auction off expired domains. The auctions start on the 4th Friday of the month at noon Anguilla time and go for 10 days.
The auctions are at <a href="https://auction.whois.ai" target=_blank>auction.whois.ai</a>.

You can read more about this at http://whois.ai/auctionfaq.html

</body>

</html>
