<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<p>Hello, {{ person_name }}.</p>

<p>Registration of <b>{{ domain_name }}</b> was paid before <b>{{ domain_expiry_date_prev }}</b>
and the AI domains registry system automatically renewed the domain for {{ duration_years }} years in accordance with the settings of your account.

<p>Account balance has been automatically deducted to cover domain renewal costs, your new account balance is <b>${{ current_balance }} US</b>.</p>

<p>The new expiration date for the domain <b>{{ domain_name }}</b> is <b>{{ domain_expiry_date }}</b>.</p>

<p>
Below is a list of all domains managed by your account, including registration period and auto-renewal status.
</p>

<table cellspacing="8">
<tr align="left">
<th>domain</th>
<th>expiry date</th>
<th>automatic renewal</th>
</tr>
{% for domain_info in domains_details %}
    <tr align="left">
    <td>{{ domain_info.name }}</td>
    <td>{{ domain_info.expiry_date }}</td>
    <td>{{ domain_info.auto_renew_enabled }}</td>
    </tr>
{% endfor %}
</table>

<p>
To disable the automatic renewal of your domains by AI domains registry system
please sign in to your account, go to your profile settings and switch off "Automatically renew expiring domains" checkbox.
<br>
To completely disable automatic renewal function for a given domain - also switch off "Automatically renew" checkbox
on domain config page.
<br>
Please note that enabling the auto-renew feature in your account profile settings will enable auto-renew for all your domains,
this takes precedence over setting it up on a per-domain basis.
</p>

<p>To stop receiving email notifications from AI domains registry please sign in to <a href="{{ site_url }}" target=_blank>{{ site_url }}</a>,
go to your profile settings and disable "Email notifications enabled" checkbox.</p>

</body>

</html>
