<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<p>Hello, {{ person_name }}.</p>

<p>The domains listed below are expiring:</p>

<ul>
{% for domain_name in expiring_domains_list %}
    <li>{{ domain_name }}</li>
{% endfor %}
</ul>

<p>
The AI domains registry system tried to automatically renew your domain in accordance with the settings of your account.
<br>
However, due to the fact that your account has insufficient funds, the operation could not be completed.
</p>

<p>Please sign in to <a href="https://zenaida.cate.ai" target=_blank>zenaida.cate.ai</a> and <b>make a payment</b> for the domains you wish to keep.
See <a href="https://zenaida.cate.ai/faq/" target=_blank>payments F.A.Q.</a> for more information.</p>

<p><b>We auction off expired domains</b> at <a href="https://auction.whois.ai" target=_blank>auction.whois.ai</a>.
The auctions start on the 4th Friday of the month at noon Anguilla time and go for 10 days.
You can read more about this at <a href="https://zenaida.cate.ai/faq-auctions/">auctions F.A.Q.</a></p>

<p>
To disable the automatic renewal of your domains by AI domains registry system
please sign in to your account, go to your profile settings and switch off "Automatically renew expiring domains" checkbox.
<br>
You can also enable or disable the automatic renewal function for each domain separately.
</p>

<p>To stop receiving email notifications from AI domains registry please sign in to <a href="https://zenaida.cate.ai" target=_blank>zenaida.cate.ai</a>,
go to your profile settings and disable "Email notifications enabled" checkbox.</p>

</body>

</html>
