# Base requirements
pkgversion
pika
transliterate
fqn-decorators
requests
psycopg2-binary
uwsgi
Django
django-admin-ip-restrictor
django-bootstrap4
django-nested-admin
django-grappelli
django-extensions
django_otp
django-formtools
django-dbbackup
django-simple-captcha
djangorestframework
qrcode
pdfkit
btcpay-python
python-memcached
python-dateutil
Pygments
lxml
beautifulsoup4
https://github.com/datahaven-net/epp-python-client/archive/master.zip
