# Base requirements
pkgversion
pika
transliterate
fqn-decorators
requests
psycopg2-binary
uwsgi
Django
djangorestframework
python-memcached
django-bootstrap4
django-nested-admin
django-grappelli
django-extensions
django_otp
qrcode
pdfkit
btcpay-python
