# Base requirements
pkgversion
pika
transliterate
fqn-decorators
raven
timeexecution
requests
psycopg2-binary
uwsgi
Django
djangorestframework
django-redis-cache
django-bootstrap4
django-nested-admin
django-grappelli
django-extensions
pdfkit
btcpay-python
