# Zenaida UWSGI systemd service configuration.
#
# Make link in your global systemd folder to activate the uwsgi emperor service:
#
#         cd /home/zenaida/zenaida/
#         cp etc/systemd/system/uwsgi-emperor.service.example etc/systemd/system/uwsgi-emperor.service
#         sudo ln -s etc/systemd/system/uwsgi-emperor.service /etc/systemd/system/
#
#
# Start uwsgi emperor service:
# 
#         sudo systemctl start uwsgi-emperor.service
#
#
# You can always check current situation with:
#
#         systemctl status uwsgi-emperor.service 
#


[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/home/zenaida/zenaida/venv/bin/uwsgi --ini /home/zenaida/zenaida/etc/uwsgi/emperor.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target